# Compiled class file
*.class
!src/test/resources/generated/*.class
!src/it/all-have-production-class/target/**/*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intelij Idea
.idea
*.iml

# Maven
target
!src/it/all-have-production-class/target
!src/it/empty-project/target

# Bin file
*.bin
.aider*
