---
name: up
on:
  push:
    branches:
      - main
    tags:
      - '*'
concurrency:
  group: up-${{ github.ref }}
  cancel-in-progress: true
jobs:
  up:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: |-
          git fetch --tags --force && \
          latest=$(git tag --sort=creatordate | tail -1) && \
          sed -E -i "s/<version>[^<]+/<version>${latest}/g" README.md
      - uses: peter-evans/create-pull-request@v7
        with:
          branch: version-up
          commit-message: 'chore: new version in README'
          delete-branch: true
          title: 'chore: New version in README'
          assignees: volodya-lombrozo
          base: main